@font-face {
	font-family: 'Echinos Park';
  	src: url(fonts/EchinosParkScript.ttf) format('truetype');
}
@font-face {
	font-family: 'Great Vibes';
  	src: url(fonts/GreatVibes-Regular.otf) format('truetype');
}
@font-face {
	font-family: 'Lobster';
  	src: url(fonts/Lobster.otf) format('truetype');
}
@font-face {
	font-family: 'HenryMorganHand';
  	src: url(fonts/HenryMorganHand.ttf) format('truetype');
}
@font-face {
	font-family: 'Nymphette';
  	src: url(fonts/Nymphette.ttf) format('truetype');
}
@font-face {
	font-family: 'cac_champagne';
  	src: url(fonts/cac_champagne.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas';
    src: url(fonts/BebasNeue-webfont.ttf) format('truetype');
}
body {
  min-height: 2000px;
  overflow-x: hidden;
}
/** PRELOADER **/
#preloader {
	background: #fff;
	display: block;
	height: 100%;
	left: 0px;
	padding-top: 300px;
	position: fixed;
	overflow: hidden;
	text-align: center;
	top: 0px;
	vertical-align: middle;
	width: 100%;
	z-index: 10000;

	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#preloader-logo {
	background: #e74c3c;
	border: 0px solid #f0f0f0;
	border-radius: 50%;
	color: #fff;
	display: block;
	width: 110px;
	font-family: 'Lobster';
	font-size: 4em;
	height: 110px;
	line-height: 110px;
	text-align: center;
	margin: auto;
	float: none;
	vertical-align: middle;

}

#trigger {
    position: fixed;
    top:90%;
}

.scaling{
    -webkit-animation-name: scalex;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.1);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.1);}    
}
    
@-moz-keyframes scale{
    from {-moz-transform: scale(0.1);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.1);}    
}

#preloader.active {
	top:-500%;
}

div.col-nopaddings > div.col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

/** HEADER **/
.navbar-love {
	background: #ffffff;
	border-color: #f5f5f5;
}

.navbar-top-love {
	border-bottom: 1px solid #f5f5f5;
	display: block;
	font-family: 'Nymphette';
	font-size: 2em;
	height: 30px;
	line-height: 1em;
	padding: 2px 0;
	text-align: center;
	width: 100%;

  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.navbar-top-love.hide {
  height: 0px;

  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.navbar-top-love i {
	color: #e74c3c;
}

.navbar-love .navbar-nav>li>a {
    color: #333;
    font-size: 1em;
    font-family: 'Lobster';
    font-weight: 1;

    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-love .navbar-nav > li > a > i {
  color: #e74c3c;
  font-size: 0.7em;
  margin-right: 3px;
}

div.logo-container {
	display: block;
	text-align: center;
	width: 100%;
}

.logo-container a.navbar-brandx {
	background: #e74c3c;
	border: 0px solid #f0f0f0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	width: 50px;
	font-family: 'Lobster';
	font-size: 1.2em;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 10px auto;
	float: none;
}

.logo-container a.navbar-brand i {

}

@media (max-width: 767px) {
  .navbar-header {
    border-bottom: 1px solid #f5f5f5;
  }
  div.logo-container {
    display: block;
    text-align: center;
    margin:10px auto;
    width: 100%;
  }

  .logo-container a.navbar-brandx {
    background: #e74c3c;
    border: 0px solid #f0f0f0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    font-family: 'Lobster';
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    float: none;
  }
  .navbar-toggle .icon-bar {
    background: #333;
  }
  .navbar-toggle {
    position: absolute;
    right: 0px;
  }
  .navbar-nav {
    margin: 0px 0px;
  }
  .navbar-love .navbar-nav>li {
    display: inline-block;
    width: 32%;
  }
  .navbar-love .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  #navbar-mobile {
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border-top:1px solid #f0f0f0;
    position: fixed;
    bottom:0px;
    height: 70px;
    right: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
  #navbar-mobile > ul#nav-mobile {
    background:#fff;
    height: 100%;
    width: 100%;
  }
  #navbar-mobile ul li {
    background: #fff;
    display: inline-block;
    padding: 10px 0;
    margin: 0px !important;
    height: 100%; 
    width: 15.4%;
    text-align: center;
  }
  div#navbar-mobile > ul > li > a {
    background:#fff;
    border: 1px solid #e74c3c;
    border-radius: 50%;
    display: inline-block;
    font-size: 3em;
    height: 56px; 
    width: 56px;
    padding: 0px !important;
    margin: auto;
    text-align: center;
    line-height: 1.3em;
  }
  .cd-timeline-img {
    line-height: 1em !important;
  }
}

/*** GENERAL ***/
.text-center {
  text-align: center;
}

.btn-container {
  padding:20px 0;
}

.btn-love {
  line-height: 2em;
  border:none;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn-love i {
  font-size: 0.9em;
}

/*** MAIN SECTION ***/
div#main-section {
	background: url(images/main-section-bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: 770px;
	padding: 0px;
}

#main-section-msg {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#main-section-msg.active {
	opacity: 1;
}

#date-love {
	color: #fff;
  font-family: 'Bebas';
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

#msg-love {
  font-family: 'Lobster';
  font-size: 3em;
}

div#main-section h1 {
	border-bottom: 4px double #fff;
	border-top: 4px double #fff;
	color: #fff;
	font-family: 'Bebas';
	font-size: 6em;
	padding: 20px 0;
	text-align: center;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}



/* Video overlay and content */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none; /* Allows right click menu on the video */
  background: url(images/patern.png) left top repeat;
  opacity: 1;
}
.video-hero--content {
  position: relative;
  text-align: center;
  color: #FFF;
  margin: 200px 0;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.page-width {
  width: 100%;
  margin: 0 auto;
}

/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 770px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
        background-size: cover;
}
.jquery-background-video {
  position: absolute;
  width: 100%;
  min-height: 770px;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
      transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
  opacity: 1;
}

.section {
	min-height: 500px;
	padding:0 0 100px 0;
}

.bg-gray {
	background: #f0f0f0 !important;
}

/** SECTION TITLE **/
.title {
  text-align: center;
  margin-bottom: 40px;
}
.section-title {
	border-top: 6px double #444;
	margin: 120px 0 0px 0;
	text-align: center;
  line-height: 1em;
}

.section-title > span {
	background: #fff;
	font-family: 'Lobster';
	font-size: 2.5em;
	padding: 0 10px;
	position: relative;
  line-height: 1em;
	top:-25px;

}

.subtitle {
  font-size: 0.9em;
}


.section-title > span .text-primary {
	color: #e74c3c;
}

/** SECTION TITLE 2 **/
.section-title2 {
  border-top: 0px double #444;
  margin: 120px 0 10px 0;
  text-align: center;
}

.section-title2 > span {
  background: transparent;
  color: #fff;
  font-family: 'Lobster';
  font-size: 2.5em;
  padding: 0 10px;
  position: relative;
  top:0px;

}

.section-title2 > span .text-primary {
  color: #fff;
}

.section-title2 > span:before {
  border-bottom: 6px double #fff;
  font-weight: bold;
  content: '';
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin-right: 10px;
  position: relative;
  top: -5px;
  width: 50px;
}
.section-title2 > span:after {  
  border-bottom: 6px double #fff;
  font-weight: bold;
  content: '';
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin-left: 10px;
  position: relative;
  top: -5px;
  width: 50px;
}

/** ABOUT **/
.about-image {
	padding: 0px;
}
.about-text {
	background: #fff;
	border:0px solid #f0f0f0;
	box-shadow: 1px 1px 20px rgba(0,0,0,0);
	display: block;
	height: 100%;
	min-height: 420px;
  padding: 30px 0 0 0;
	width: 100%;
}
.about-item-photo-container {
	display: block;
	text-align: center;
}
.about-item-photo {
	border: 15px solid #f5f5f5;
	border-radius: 0%;
	display: inline-block;
	margin:0px auto 5px auto;
	overflow: hidden;
	width: 70%;
	z-index: 1;
}
.about-item-photo img {
	width: 100%;
	border-radius: 0%;
}
.about-item-title {
	font-family: 'Lobster';
	font-size: 2.5em;
  margin: 20px 0;
	padding:0px 0;
	line-height: 1em;
	text-align: center;
}
.about-item-content {
	color: #999;
	font-size: 1em;
	padding: 10px 20px;
	text-align: center;
}

.owl-nav .owl-next, .owl-nav .owl-prev{position:absolute;top:25%;}
.owl-nav .owl-next{right:0px;width:41px;height:61px;background-image:url(images/owl-next.png);background-repeat:no-repeat;text-indent:-9999px;}
.owl-nav .owl-prev{left:15px;width:41px;height:61px;background-image:url(images/owl-prev.png);background-repeat:no-repeat;text-indent:-9999px;}

.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
  width: 100%;
}

.cd-image-label {
  position: absolute;
  font-family: 'Lobster';
  font-size: 1.5em;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 64px;
  width: 64px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  border-radius: 50%;
  background: transparent ;
  color: #e74c3c;
  cursor: move;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle i {
	font-size: 64px;
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: transparent;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

/*** TIMELINE ***/
#story {
  background:#f0f0f0;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #fff;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  color: #fff;
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)*/;
  box-shadow: 0 0 0 2px white;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #e74c3c;
}
.cd-timeline-img.cd-movie {
  background: #e74c3c;
}
.cd-timeline-img.cd-location {
  background: #e74c3c;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  border: 1px solid #fff;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  font-family: 'Lobster';
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.5em;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1em;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #fff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/** OUR STORY **/
#our-story-section {
	background: #f0f0f0;
}
#bigTriangleColor {
  display: block;
}

#bigTriangleColor path {
    fill: #f0f0f0;
    stroke: #f0f0f0;
    stroke-width: 2;
}

.invitation-text {
}

.invitation-text .invitation-1 {
  font-family: 'Great Vibes';
  font-size: 1.6em;
  line-height: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}
.invitation-text .invitation-2 {
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: center;
}

.invitation-text .invitation-3 {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
  padding: 30px 100px;
}
.invitation-text .invitation-2 .name {
  font-family: 'Lobster';
  font-size: 1.3em;
  margin:10px 0;
}

/** EVENT SECTION **/
#event-section {
  background: url(images/bg-2.jpg) no-repeat center top;
  background-size: cover;
  min-height: 770px;
  position: relative;
}

.bg-transparent {
  background-color: #e74c3c;
  display: block;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;

}
/*** GALLERY ***/
/* Common style */
.grid figure {
  background: #3085a3;
  cursor: pointer;
  float: left;
  margin:0px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure:after {
  color: #e74c3c;
  content:'favorite';
  font-family: 'Material Icons';
  font-size: 2.5em;
  position: absolute;
  right: 20px;
  top: 20px;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*-----------------*/
/***** Moses *****/
/*-----------------*/

figure.effect-moses {
  background: -webkit-linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
  background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
}

figure.effect-moses img {
  opacity: 0.85;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-moses h2,
figure.effect-moses p {
  padding: 20px;
  width: 50%;
  height: 50%;
  border: 2px solid #fff;
}

figure.effect-moses h2 {
  padding: 20px;
  width: 50%;
  height: 50%;
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(10px,10px,0);
  transform: translate3d(10px,10px,0);
}

figure.effect-moses p {
  float: right;
  padding: 20px;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

figure.effect-moses:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-moses:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-moses:hover img {
  opacity: 0.6;
}

/*---------------*/
/***** Lexi *****/
/*---------------*/

figure.effect-lexi {
  background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
  background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

figure.effect-lexi img {
  margin: -10px 0 0 -10px;
  max-width: none;
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px);
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(10px,10px,0);
  transform: translate3d(10px,10px,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
  content: '';
  opacity: 0;
  -webkit-transform: scale3d(0.5,0.5,1);
  transform: scale3d(0.5,0.5,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-lexi:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lexi h2 {
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(5px,5px,0);
  transform: translate3d(5px,5px,0);
}

figure.effect-lexi p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 1.5em 0;
  width: 140px;
  text-align: right;
  opacity: 0;
  -webkit-transform: translate3d(20px,20px,0);
  transform: translate3d(20px,20px,0);
}

figure.effect-lexi:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*** MAPS ***/
#clouds {
  display: block;
  margin:0px;

}
#clouds path {
    fill: #f0f0f0;
    stroke: #f0f0f0;
}

#location {
  background:#f0f0f0;
}
#mapView {
    width: 100%;
    float: left;
    height: 500px;
}
#mapView.min {
    width: 0%;
}
.mapPlaceholder {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    float: left;
    overflow: hidden;
}
#mapView.min .mapPlaceholder {
    display: none;
}
.mapPlaceholder span {
    font-size: 16px;
    line-height: 17px;
    width: 20px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.infoW {
  background:#fff;
  font-family: 'open_sansregular', sans-serif, Arial;
  color: #333;
  padding: 0 1px;
}
.propImg {
    position: relative;
}
.propImg img {
    width: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.propBg {
    position: absolute;
    z-index: 2;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
.propType {
    background-color: #eab134;
    font-size: 10px;
    line-height: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-transform: uppercase;
    z-index: 3;
}
.paWrapper {
    padding: 10px 10px 0 10px;
}
.propPrice {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    z-index: 3;
}
.propTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: center;
}
.propAddress {
    white-space: pre-wrap;
    overflow: hidden;
    color: #999;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
}
.propRating {
    padding: 2px 0 5px 10px;
}
.propRating span {
    color: #eab134;
    padding-right: 2px;
    display: inline-block;
    font-size: 12px;
}
ul.propFeat {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
}
ul.propFeat li {
    float: left;
    margin-right: 15px;
    font-size: 11px;
    line-height: 11px;
}
ul.propFeat li span {
    color: #999;
}
.infoButtons {
    padding: 10px;
    text-align: center;
}
a.btn.viewInfo, a.btn.closeInfo {
    width: 85px;
    padding: 6px 12px;
}
a.btn.viewInfo {
    margin-left: 10px;
}

.infoW {
    background: #fff;
}
#vendor-section {
  padding: 0 0px 0 0;
}
#owl-vendor {
  margin-bottom: 50px;
  text-align: center;
}
#owl-vendor li {
  background: #e7e7e7;
  display: inline-block;
  font-family: 'Lobster';
  list-style: none;
  height: 100px;
  padding: 30px;
  text-align: center;
  width: 240px;
}

footer {
  background: #333;
  border-top: 5px solid #e74c3c;
  min-height: 200px;
}

.footer-logo {
  text-align:center;
}
.footer-logo i {
  color: #e74c3c;
  font-size: 60px;
  position: relative;
  top: -30px;
}
.footer-content {
  min-height: 200px;
}
.footer-bottom {
  background: #313131;
  border-top: 1px solid #2a2a2a;
  min-height: 50px;
}
